.menu-container {
    display: flex;
    flex-direction: column;
  }
  
  .main-menu {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    height: 100%;
    text-align: center;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .icon {
    font-size: 24px;
    margin: 10px;
    color: #3498db; /* Color de los iconos */
  }
  .container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin: auto; /* Utiliza márgenes automáticos */
  }
  