.menu-container {
  display: flex;
  flex-direction: column;
}

.main-menu {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: relative; /* Añadir posición relativa */
  z-index: 1; /* Asegurar que el menú esté en una capa superior */
}

.container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin: 20px auto; /* Utiliza márgenes automáticos */
}

.audio-recorder {
  position: fixed;
  bottom: 0;
  opacity: 1;
}
